# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Entornos virtuales
venv/
env/
.venv/
venv_gpu/

# Variables de entorno
.env

# PyTorch y Checkpoints
*.pt
*.pth
*.ckpt
checkpoints/

# Logs e Imágenes temporales
logs/
*.log

# Datos generados locales
data/
*.bin
*.json
!model/tokenizer.json

# IDE / Varios
.DS_Store
.idea/
.vscode/

# Local docs
docs/research/
